@model IEnumerable<Emoji>

<ul class="list-inline">
    @foreach (var item in Model)
    {
        <li class="emoji-box">
            <span class="emoji">@item.Characters</span>
            <br />
            <a href="@Url.Action("Details", "Emoji", new { characters = item.Characters })">
                <span>@item.Name</span>
            </a>
        </li>
    }
</ul>