@model IEnumerable<Emoji>
@{
    ViewBag.Title = "EmojiBot";
}

<div class="jumbotron">
    <h1>EmojiBot</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Emoji</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>@item.Characters</tr>
            <tr>@item.Name</tr>
        }
    </tbody>
</table>