@model IEnumerable<IGrouping<Category, Emoji>>

@foreach (var grouping in Model)
{
    if (grouping.Key == null)
    {
        <h3>Uncategorised</h3>
    }
    else
    {
        <h3>@grouping.Key.Name</h3>
    }

    <ul class="list-inline">
        @foreach (var item in grouping.OrderBy(x => x.Name))
        {
            <li class="emoji-box">
                <span class="emoji">@item.Characters</span>
                <br />
                <a href="@Url.Action("Details", "Emoji", new { characters = item.Characters })">
                    <span>@item.Name</span>
                </a>
            </li>
        }
    </ul>
}
