@model EmojiSearchModel

<div id="header" class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="row">
            <div id="title" class="col-sm-3">
                <h2>EMOJIBOT</h2>
            </div>
			<div id="search" class="col-sm-6">
					@using (Html.BeginForm("Index", "Search", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
					{
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search" name="Term">
							<span class="input-group-addon">
								<button type="submit">
									<span class="glyphicon glyphicon-search"></span>
								</button>
							</span>
						</div>
					}
			</div>
		</div>
	</div>
</div>