@model IEnumerable<Emoji>
@{
    ViewBag.Title = "EmojiBot Search: " + ViewBag.Term;
}

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Characters</td>
                <td>@Html.ActionLink(item.Name, "Details", "Emoji", new { characters = item.Characters }, null)</td>
            </tr>
        }
    </tbody>
</table>