body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* header rules */

#header .container {
    height: 60px;
}

#title h2 {
    background: "/images/logo.png";
    margin-top: 15px;
}

#search {
    margin-top: 15px;
}

#search .input-group .input-group-addon {
    background: white;
}

#search .input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

#search .input-group button {
    border: 0;
    background: transparent;
}

.emoji-box {
    margin-bottom: 10px;
    text-align: center;
    height: 60px;
    width: 12.5%;
}

.emoji-box a {
    text-decoration: none;
}

.emoji-box span:not(.emoji) {
    height: 20px;
    font-size: 11px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

span.emoji {
    height: 40px;
    font-size: 30px;
}
